<nav class="navbar navbar-light" style="background-color:#33383f;">

  <span class="navbar-brand mb-0 h1"><a href="/" class="nav-link brand">Blissful Bites</a></span>
  <div class="btn">
    <div class="btn-group" ngbDropdown role="group">
      <button class="btn btn-dark dropdown-toggle" ngbDropdownToggle>
        <span class="fa fa-user-circle" aria-hidden="true"></span>{{name}}
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="colorchange" ngbDropdownItem routerLink="homepage" routerLinkActive="active">Home</button>
        <button class="colorchange" ngbDropdownItem routerLink="favorite" routerLinkActive="active">My
          Favorites</button>
        <button class="colorchange" ngbDropdownItem>Profile</button>
        <button class="colorchange" ngbDropdownItem>Settings</button>
        <button class="colorchange" ngbDropdownItem (click)="onLogout()">Logout</button>
      </div>
    </div>
  </div>
</nav>